
@media only screen and (max-width: 960px) {
      #services{
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 10px 20px;
      }
      #containerSLider{
         height: 800px;
         width: 100%;
         background-image:  linear-gradient(#271770bd, #008cd7b7),url("../img/carousel/hero-carousel-1.jpg");
         background-position: bottom;
         position: relative;
         background-repeat: no-repeat;
         background-size: cover;
      
      }
     }


@media only screen and (max-width: 600px) {
    .welContainer{
        display: block; 
     }
     #containerSLider{
      height: 600px;
      width: 100%;
      background-image:  linear-gradient(#271770bd, #008cd7b7),url("../img/carousel/hero-carousel-1.jpg");
      background-position: bottom;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
   
   }
     .weltext{
        font-weight: 100;
        width: 100%;
        border-right: none;
        padding: 10px 15px;
        text-align: justify;
        box-sizing: border-box;
     
     }

     .welImage{
        height: 300px;
        width: 90%;
        box-sizing: border-box;
        margin: 10px 30px;
        background-image: url(../img/carousel/hero-carousel-4.jpg);
        background-position: top;
        background-repeat: no-repeat;
        box-sizing: border-box;
        background-size: cover;
     }

     #services{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px 20px;
   }

   #footerContainer{
      display: block;
   }

   #footerContainer .FooterContact{
      display: flex;
   }
   iframe {
      width: 400px;
   }
  }


 