/* @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones  }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.  }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops  }
@media (min-width:1281px) { /* hi-res laptops and desktops  */
@media only screen and (max-width: 600px) {
    .welContainer{
        display: block; 
     }
     
     .weltext{
        font-weight: 100;
        width: 100%;
        border-right: none;
        padding: 10px 15px;
        text-align: justify;
        box-sizing: border-box;
     
     }

     .welImage{
        height: 300px;
        width: 100%;
        box-sizing: border-box;
        margin: 10px 30px;
        background-image: url(../img/carousel/hero-carousel-4.jpg);
        background-position: top;
        background-repeat: no-repeat;
        box-sizing: border-box;
        background-size: cover;
     }

     #services{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px 20px;
   }

   #footerContainer{
      display: block;
   }

   #footerContainer .FooterContact{
      display: flex;
   }
  }